#container {
    /* container styles for reference, don't edit these */
    position: fixed;
    z-index: 3;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid palevioletred;
}

#box {
    background-color: palevioletred;
  grid-column:4;
  grid-row:4;
    /* code from here */

    /* to here */
}
